body {
        background: #F2F2F2;
        font-family: 'Josefin Sans', sans-serif;
    }
    
    .container {
        text-align: center;
        padding: 50px;
        max-width: 1440px;
        display: block;
        margin: auto;
        background: linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%);
    }
    
    h1 {
        max-width: 440px;
        margin: auto;
    }
    
    h5 {
        max-width: 718px;
        margin: 10px auto;
        text-align: center;
        line-height: 1.5;
    }
    
    main {
        max-width: 1002px;
        margin: auto;
    }
    
    .items {
        margin: auto;
        display: block;
    }
    
    main .left,
    main .right {
        display: inline-block;
        max-width: 443px;
        width: 100%;
        vertical-align: top;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    main .left div,
    main .right div {
        margin: 10px 0px;
    }
    
    main .items div img {
        width: 30px;
        display: inline-block;
        vertical-align: middle;
    }
}
main div img {
    border-radius: 50%;
    margin: 5px;
}

/*Expand colapse menu*/
.header {
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    flex-wrap: wrap;
}
.header h4 {
    display: inline-block;
    vertical-align: middle;
    max-width: 209px;
    width: 100%;
    text-align: left;
}
.content {
    display: none;
    padding: 5px;
}

/*Expand colapse menu second*/
.collapsible {
    cursor: pointer;
    padding: 18px;
    max-width: 500px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    background: linear-gradient(180deg, #F5F5F5 0%, #FFFFFF 100%)
}
.collapsible:hover {
    color: gray;
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    text-align: left;
}
.secondExpand {
    display: inline-block;
    max-width: 500px;
    width: 49%;
}
.secondExpand .containerInner,
.secondExpand img {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    max-width: 47%;
}
.secondExpand img {
    width: 30px;
}
@media(max-width:768px) {
    main .left,
    main .right {
        display: block;
        width: 100%;
        text-align: left;
    }
    
    .container {
        padding: 10px;
    }
    
    .secondExpand {
        display: block;
        width: 100%;
    }
    
    .secondExpand .containerInner {
        max-width: 80%;
    }
}